<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!-- Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/slick.css">
<link href="/static/css/mmenu.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Nav Box Fragment -->
    <div th:fragment="nav-box">
        <div class="nav-out-bar">    
            <nav class="nav main-menu">
                <ul class="navigation" id="navbar">
                    <li class="current-dropdown"><span>Brands <i class="fa-solid fa-angle-down"></i></span>
                        <ul class="dropdown">
                            <li><a href="">Audi</a></li>
                            <li><a href="">BMW</a></li>
                            <li><a href="">Chevrolet</a></li>
                            <li><a href="">Ford</a></li>
                            <li><a href="">Honda</a></li>
                            <li><a href="">Hyundai</a></li>
                            <li><a href="">Mercedes-Benz</a></li>
                        </ul>
                    </li>
                    <li class="current-dropdown"><span>Shop <i class="fa-solid fa-angle-down"></i></span>
                        <ul class="dropdown">
                            <li><a href="shop-list">Shop List</a></li>
                            <li><a href="shop-single">Shop Single</a></li>
                            <li><a href="cart">Cart</a></li>
                            <li><a href="checkout">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="current-dropdown"><span>Dashboard <i class="fa-solid fa-angle-down"></i></span>
                        <ul class="dropdown deep subnav-menu">
                            <li><a href="dashboard" title="">Dashboard</a></li>
                            <li><a href="my-listings" title="">My Listings</a></li>
                            <li><a href="add-listings" title="">Add Listings</a></li>
                            <li><a href="favorite" title="">Favorites</a></li>
                            <li><a href="saved" title="">Saved Search</a></li>
                            <li><a href="messages" title="">Messages</a></li>
                            <li><a href="profile" title="">Profile</a></li>
                        </ul>
                    </li>
                    <li><a href="blog-list-02">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="faq">Faq</a></li>
                </ul>
            </nav>
            <!-- Main Menu End-->
        </div>
    </div>
</body>
</html> 